.contenedor{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  justify-items: center;
  gap: 25px;
  margin: 25px;
  background-color: transparent;
}

.spinnerloading{
  margin-top: 250px;
  margin-bottom: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: contain;
}